# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.

defaults: &defaults
  environment:
    OPAMJOBS: 2
    OPAMVERBOSE: 1
    OPAMYES: true
    TERM: xterm

commands:
  startup:
    steps:
    - checkout

  prepare:
    parameters:
      mathcomp-version:
        type: string
        default: dev
    steps:
    - run:
        name: Install dependencies
        command: |
          opam repo add coq-extra-dev https://coq.inria.fr/opam/extra-dev
          opam update
          opam pin add coq-mathcomp-ssreflect \
            --kind=version << parameters.mathcomp-version >>
          opam install --deps-only .

  set-jobs:
    steps:
    - run:
        name: Set number of jobs
        command: |
          opam var --global jobs=1


  build:
    steps:
    - run:
        name: Building deriving
        command: |
          opam var jobs
          opam install --with-test .

jobs:
  coq-8-17-mathcomp-2-0-0:
    <<: *defaults
    steps:
    - startup
    - prepare:
        mathcomp-version: '2.0.0'
    - build
    docker:
    - image: coqorg/coq:8.17
    resource_class: 'large'

  coq-8-17-mathcomp-2-2-0:
    <<: *defaults
    steps:
    - startup
    - prepare:
        mathcomp-version: '2.2.0'
    - build
    docker:
    - image: coqorg/coq:8.17
    resource_class: 'large'

  coq-8-18-mathcomp-2-0-0:
    <<: *defaults
    steps:
    - startup
    - prepare:
        mathcomp-version: '2.0.0'
    - build
    docker:
    - image: coqorg/coq:8.18
    resource_class: 'large'

  coq-8-19-mathcomp-2-2-0:
    <<: *defaults
    steps:
    - startup
    - prepare:
        mathcomp-version: '2.2.0'
    - build
    docker:
    - image: coqorg/coq:8.19
    resource_class: 'large'

  coq-8-19-mathcomp-2-3-0:
    <<: *defaults
    steps:
    - startup
    - prepare:
        mathcomp-version: '2.3.0'
    - build
    docker:
    - image: coqorg/coq:8.19
    resource_class: 'large'

  coq-8-19-mathcomp-2-4-0:
    <<: *defaults
    steps:
    - startup
    - prepare:
        mathcomp-version: '2.4.0'
    - build
    docker:
    - image: coqorg/coq:8.19
    resource_class: 'large'

  coq-8-20-mathcomp-2-4-0:
    <<: *defaults
    steps:
    - startup
    - prepare:
        mathcomp-version: '2.4.0'
    - build
    docker:
    - image: coqorg/coq:8.20
    resource_class: 'large'

  rocq-9-0-mathcomp-2-4-0:
    <<: *defaults
    steps:
    - startup
    - prepare:
        mathcomp-version: '2.4.0'
    - build
    docker:
    - image: rocq/rocq-prover:9.0
    resource_class: 'large'

  rocq-dev:
    <<: *defaults
    steps:
    - startup
    - prepare:
        mathcomp-version: 'dev'
    - build
    docker:
    - image: rocq/rocq-prover:dev
  resource_class: 'large'

workflows:
  build:
    jobs:
    - coq-8-17-mathcomp-2-0-0
    - coq-8-17-mathcomp-2-2-0
    - coq-8-18-mathcomp-2-0-0
    - coq-8-19-mathcomp-2-2-0
    - coq-8-19-mathcomp-2-3-0
    - coq-8-19-mathcomp-2-4-0
    - coq-8-20-mathcomp-2-4-0
    - rocq-9-0-mathcomp-2-4-0
    - rocq-dev
